#portrait-id {
    height: 200px;
    overflow: hidden;
    padding: 0 1rem 1rem 0;
    padding: 0 1rem 1rem 0;
    border-radius: 20px;
}

#GWG-image,
#WbW1-img {
    height: 400px;
    border-radius: 20px;
}
